* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Icomoon';
    src: url(‘../fonts/Icomoon/icomoon.eot?srf3rx′);
    src: url(‘../fonts/Icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url('http://127.0.0.1:5500/fonts/icomoon/icomoon.ttf?srf3rx') format("truetype"), url("http://127.0.0.1:5500/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("http://127.0.0.1:5500/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

/*
.header {
    background-color: white;
    height: auto;
    padding: 20px;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding-left: 70px;
    padding-right: 0px; 
}

.header a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

.navbar {
  background-color: white;
  height: auto;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0px;
  border-bottom: 3px solid transparent;
}

.navbar a{
  border-bottom: 3px solid transparent;
}


.navbar-brand {
  font-family: "PT Sans", Arial, serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #535659;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

.navbar-brand:hover  {
  text-decoration: none
}

.navbar-brand > span {
  color: #ff3b30;
}

.collapse .navbar-collapse {
  text-align: right;
  float: right;
  line-height: 2.0fr;
}

.navbar-collapse{
  font-family: "PT Sans", Arial, serif;
  font-size: 1.5rem;
  line-height: 2.0fr;
  color: #535659;
  float: right;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
  padding-left: 5fr;
  padding-right: 5fr;
}

.navbar-collapse a{
  font-family: "PT Sans", Arial, serif;
  font-size: 1.6rem;
  color: #535659;
  float: right;
  line-height: 2.0fr;
  padding-left: 5fr;
  padding-right: 10px;
}

.navbar-nav ,.nav-item{
  padding-left: 6px;
  padding-right: 6px;
}

.nav-item {
  padding-left: 10fr;
  padding-right: 10fr;
}

.active{
  color: crimson;
}

.navbar-collapse a:hover {
  border-bottom: 2px solid red;
}

.navbar-collapse a.active {
  border-bottom: 2px solid red;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


#main {
    /*background-color: #FA9D6E;*/
    background-color:rgb(31, 196, 141);
    margin: 0px;
    padding: 0px 100px 100px 100px; 
    width: auto;
    height: 1200fr;
}

/*
#page__content .main__container {
    background-color: cadetblue;
    text-decoration: none;
    width: auto;
    height: 1000fr;
    background-image: url(../images/pexels-photo-886465_2.jpeg);
    background-position: center;
    background-size: cover;
    background-blend-mode:multiply;    
    /*opacity: 70%;*/
    /*filter: brightness(70%);
    background-repeat: space;
    padding-top: 15px ;
}*/

#fh5co-home {
    background-color: transparent;
    background-size: cover;
    /*background-attachment: fixed;*/
    position: relative;
    width: 100%;
    height: auto;
    background-color: #9fa3a5;
    color: #fff;
    max-width: none;
    display: flow-root;
    background-position-x: center;
    background-position-y: center;
}

.imagen {
  width: auto;
  height: auto;
}


#fh5co-home .main__titulo1 {
    color: white;
    background-color: crimson;
    border-radius: 1rem;
    text-decoration: none;
    line-height: 2.0;
    text-align: center;
    font-family: "PT Sans",sans-serif;
    font-weight: lighter;
    font-style:normal;
    font-size: 2.5rem;
    padding-top: 200fr;
    padding: 1.2rem;
}

#fh5co-home .main__titulo2 {
    color: white;
    background-color: crimson;
    border-radius: 1rem;
    line-height: 1.5;
    text-align: center;
    font-family: "PT Sans",sans-serif;
    font-weight: lighter;
    font-style:normal;
    font-size: 3.0rem;
    padding: 1rem;

}

#fh5co-home .main__titulo3 {
    color: white;
    background-color: crimson;
    border-radius: 1rem;
    line-height: 1.0;
    text-align: center;
    font-family: "PT Sans",sans-serif;
    font-weight: lighter;
    font-style:normal;
    font-size: 3.8rem;
    align-items: center;
    transform: scale(1.2);
    padding: 2rem;

}


#fh5co-home .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

/*
#fh5co-home .row {
    display:inherit;
    align-items: center;
    text-align: center;
}*/


#fh5co-home, #fh5co-home .text-wrap {
    height: 150rem;
}

#fh5co-home .text-wrap {
    display: table;
    width: auto;
    position: relative;
    z-index: 4;
}

#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

#fh5co-home .text-inner h1 {
    font-size: 3.0rem;
    text-transform: uppercase;
    color: white;
    margin: 0 0 20fr 0;
    font-weight: 700;
    text-align: center;

}

#fh5co-home .text-inner h2 {
    font-size: 2.2rem;
    line-height: 15fr;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 60px 0;

}

.main__space {
    padding: 0px 50fr 50fr 50;

}


.main__titulo {
    background-color: rgb(31, 196, 141);
    border: 10px black;
    color: lightgoldenrodyellow;
    line-height: 4.0;
    font-weight: bold;
    font-style: normal;
    font-size: 3.1rem; 
}

.main__box-model {
    background-color: rgb(31, 196, 141);
    color: lightgoldenrodyellow;
    line-height: 2.0;
    font-weight: normal;
    font-style: normal;
    font-size: 2.0rem; 
}

#home {
    background-color: lightgray;

}


#servicios {
    background-color: white;
}

.services__titulo {
    background-color: #0962BB;
    padding: 20px;
    color:lightcoral;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 2.0rem; 
}

/*
.services__grid{
    border-width: 10px;
    background-color: lightgoldenrodyellow;
    border-style: solid;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 3px dashed black;
    border-radius: 4px;
    justify-items: center;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
}

.services__sections {
  background-color: lightgoldenrodyellow;
}*/

/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 2rem;
  width: 33.3333%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#services__service1 {background-color:crimson;}
#services__service2 {background-color:lightseagreen;}
#services__service3 {background-color:coral}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    transform-origin: bottom left;
    transform: rotate(45deg);
}



.services__header1 {
    color: lightcoral;
    font-weight:bold;
    font-style: normal;
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
    padding-top: 30fr;
}

.services__header2 {
    color: lightcoral;
    font-weight:bold;
    font-style: normal;
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
    padding-top: 30fr;
}

.services__header3 {
    color: lightcoral;
    font-weight:bold;
    font-style: normal;
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
    padding-top: 30fr;
}


#services__service1 {
    font-weight:normal;
    font-style: normal;
    font-size: 1.8rem; 
}

#services__service2 {
    font-weight:normal;
    font-style: normal;
    font-size: 1.8rem;  
}

#services__service3 {
    font-weight:normal;
    font-style: normal;
    font-size: 1.8rem; 
}

.services__space { 
    padding: 180px;
    background-color:lightgoldenrodyellow;
}

.about-us__main {
    background-color:lightgoldenrodyellow;
}


.about-us__titulo {
    background-color: #0962BB;
    padding: 20px;
    color:lightcoral;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 2.2rem; 
}

#about-us__contain {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.about-us__mision{
    color: #0962BB;
    line-height: 1.8;
    margin: 20px;
    padding: 40px;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9rem; 
    background-color:khaki;
    text-align: justify;    
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    order: -1;

}

.about-us__vision{
    color: #0962BB;    
    line-height: 1.8;
    margin: 20px;
    padding: 40px;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9rem; 
    background-color:khaki;
    text-align: end;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    
}

.about-us__valores{
    color: #0962BB;
    line-height: 1.8;
    margin: 20px;
    padding: 40px;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9rem; 
    background-color:khaki;
    text-align: justify;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;

}

.about-us__tecnologias__titulo{
    color: #0962BB;
    margin: 0px;
    padding: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5rem; 
    background-color:lavender;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.about-us__tecnologias{
    margin: 0px;
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.about-us__tecnologias img {
    width: 15%;
    height: auto;
    padding: 40px;
}


.clients__titulo {
    background-color: #0962BB;
    padding: 20px;
    color:lightcoral;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 2.2rem; 
}

#clients__contain {
    padding: 120px;
    width: auto;
    height: 1200px;
    /*background-image: url(../images/background-2462431_1920.jpg);*/
    text-align: center;
}

/* Slideshow container */
.clients-slideshow-container {
  max-width: auto;
  position: relative;
  margin: 0px;
  padding-bottom: 2rem;
  color: transparent;
  background-image: url(../images/background-2462431_1920.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.clients-prev, .clients-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 5s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.clients-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.clients-prev:hover, .clients-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.clients-text {
  color: black;
  font-size: 2.0rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.clients-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0962BB;
  padding: 5px;
  color:lightcoral;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.clients-active, .clients-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.clients-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#clients__contain img {
    width: 10%;
    height: auto;
    padding-bottom: 2.5rem;

}

.container__images {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; 
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: none;

}

.container__images img {
    width: 40%;
    height: 50%;

}



.form-group{
  padding-bottom: 2.5rem;
}


.form-control{
  font-size: 1.2rem;
}

.contact-container{
  display: inline-block;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
   padding: 2.2fr 750fr;   

}

.col-xs-8 {
  width: 100%;
}


.contact__titulo {
  background-color: #0962BB;
  padding: 20px;
  color:lightcoral;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-size: 2.2rem; 

}

.btn {
  font-size: 1.4rem;
}


.btn-group {
  margin-bottom: 1rem;
}

.contact__main {
    width: auto;
}

#contact__form {
    background-color: lightgoldenrodyellow;
    line-height: 2.0;
    padding: 30px;
    width: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  
    text-align: center;
    font-family: "PT Sans",sans-serif;
    padding: 50px 0px 50px 0px;
}

.contact__space { 
    padding: 90fr;
    background-color:lightgoldenrodyellow;
}


#footer {
    background-color: #A8839F;
    background-image: linear-gradient(to right, #A8839F, salmon );
    height: auto;
    padding: 3em 0;
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem; 
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 8fr;
    justify-content: space-evenly;
    justify-items:center;
    align-items:flex-start;
    align-content:flex-start;

    
}

#footer img {
    border-radius: 0.6rem;
}

/*#footer__container {
    color: white;

    background-color: #A8839F;
    background-image: linear-gradient(to right, #A8839F, salmon );
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;    
    height: auto;
    line-height: 3.0;

    /*display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
}*/

/*
.footer__container__info1 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: stretch;
    justify-self: center;
}

.footer__section__title {
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-weight: lighter;
    font-style:normal;
    font-size: 1.7rem; 
    font-weight: 100px;
    margin: 0 0 0px 0;
    padding-bottom: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}*/

/*
.footer__contact_info {
    margin: 0 0 30fr 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-family: "PT Sans",sans-serif;
    font-size: 1.7rem; 
    line-height: 1.2;
    font-weight: lighter;
    font-style:normal;
}

.footer__container__info2 {
    position: relative;
    min-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: flex-end;
    justify-self: center;
}

.footer__container__info3 {
    position: relative;
    min-height: 2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    align-self: stretch;
    justify-self: center;
    place-self: flex-start;
}*/

.footer__form {
    margin-bottom: 2rem;
    box-sizing: border-box;
    font-size: 2.1rem; 
    line-height: 1.5;
    font-family: "PT Sans",sans-serif;
    color: black;
    font-size: 1.4rem; 
    font-style:normal;
    border: none;
}


.form__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form__control {
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    line-height: 1.5;
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-size: 1.1rem; 
    font-style:normal;
    border: none;
    box-sizing: border-box;
}

textarea.form__control {
    height: auto;
}

.btn__send-message {
    text-transform: uppercase;
    border: none;
    letter-spacing: 2px;
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-size: 1.1rem; 
    font-style:normal;
    border-radius: 4px;
    background-color:slategray;
    color: white;
    padding: 1.1rem 1.5rem;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.developer__contain {
    color: white;
    text-align: right;
    font-weight: normal;
    font-style: normal;
    font-size: 15px; 
    padding: 20fr;

}



/* The footer is fixed to the bottom of the page */
footer{
	position: relative;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
  background-image: linear-gradient(to right, #A8839F, salmon );
	box-sizing: border-box;
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; 
	width: 100%;
	text-align: left;
	/*font: bold 16px sans-serif;*/
	padding: 50px 50px 60px 50px;
}

.footer__contact_info {
  margin: 0 0 30fr 0;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 5px;
  font-family: "PT Sans",sans-serif;
  font-size: 1.7rem; 
  line-height: 1.2;
  font-weight: lighter;
  font-style:normal;
  padding-top: 100px;
}

.footer__section__title{
  font-size: 2.0rem; 
  font-family: "PT Sans",serif,cursive;
  padding-bottom: 6px;
  padding-top: 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
  font-family: "PT Sans",sans-serif;
  line-height: 1.6;
	margin: 0;
}

/* The company logo */
.footer-distributed .footer-left img{
	width: 40%;
  border-radius: 0.6rem;
}


/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}



/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #063250;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons{
	margin-top: 0px;
}

/*
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}*/

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

  .footer__contact_info {
    padding-top: 20px;
  }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
