* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Icomoon';
    src: url(‘../fonts/Icomoon/icomoon.eot?srf3rx′);
    src: url(‘../fonts/Icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url('http://127.0.0.1:5500/fonts/icomoon/icomoon.ttf?srf3rx') format("truetype"), url("http://127.0.0.1:5500/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("http://127.0.0.1:5500/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: "PT Sans", Arial, serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    height: 100%;
    font-weight: normal;
    font-style: normal;
}


.header {
    background-color: white;
    height: auto;
    padding: 20px;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding-left: 70px;
    padding-right: 0px; 
}

.header a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*.header__logo {
    display: left;
}*/

/*.header__logo img {
    width: 300px;
    height: auto;
}*/

/*
#fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #fh5co-header #navbar .navbar-right {
    margin-right: 0;
  }
  @media screen and (max-width: 992px) {
    #fh5co-header #navbar .navbar-right {
      margin-right: -15px;
    }
  }
  #fh5co-header #navbar li a {
    font-family: "PT Sans", Arial, serif;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }
  @media screen and (max-width: 992px) {
    #fh5co-header #navbar li a {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  #fh5co-header #navbar li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
  }
  #fh5co-header #navbar li a span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  #fh5co-header #navbar li a:hover {
    color: #000;
  }
  #fh5co-header #navbar li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
  }
  @media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a {
      color: #ff3b30;
    }
  }
  #fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #ff3b30;
  }
  @media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a span:before {
      background-color: transparent;
    }
  }
  #fh5co-header #navbar li.call-to-action a {
    border: 2px solid #ff3b30;
    padding: 5px 10px 3px 10px;
    margin: 12px 0 0 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
  }
  #fh5co-header #navbar li.call-to-action a:hover {
    background-color: #ff3b30;
    color: #fff;
  }
  #fh5co-header #navbar li.call-to-action a span:before {
    background-color: transparent;
  }
  #fh5co-header .navbar-brand {
    float: left;
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding-left: 0;
    color: #535659;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  #fh5co-header .navbar-brand > span {
    color: #ff3b30;
  }
  @media screen and (max-width: 992px) {
    #fh5co-header .navbar-brand {
      padding-left: 10px !important;
      padding-right: 0 !important;
    }
  }
  #fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    top: 0;
  }
  #fh5co-header.navbar-fixed-top .navbar-brand {
    color: #535659;
  }
  #fh5co-header.navbar-fixed-top #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fh5co-header.navbar-fixed-top #navbar li a:hover {
    color: #ff3b30;
  }
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #ff3b30 !important;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a {
      color: #ff3b30 !important;
    }
  }
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #ff3b30;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
      background-color: transparent;
    }
  }
  #fh5co-header.navbar-fixed-top #navbar li.call-to-action a {
    border: 2px solid #ff3b30;
    padding: 5px 10px 3px 10px;
    margin: 12px 0 0 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
  }
  #fh5co-header.navbar-fixed-top #navbar li.call-to-action a:hover {
    background-color: #ff3b30;
    color: #fff !important;
  }
  #fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
    background-color: transparent;
  }
  #fh5co-header .navbar-default {
    border: transparent;
    background: #fff;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .navbar-default {
      margin-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  #fh5co-header .navbar-default .brand-slogan {
    margin: 28px 0 0 15px;
    float: left;
    letter-spacing: 2px;
    color: #adadad;
  }
  #fh5co-header .navbar-default .brand-slogan em {
    color: #ff3b30;
    font-style: normal;
  }

*/

.header__brand {
    font-family: "PT Sans", Arial, serif;
    font-size: 24px;
    font-weight: 700;
    color: #535659;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    justify-self: center;
    align-self: center;
  }

.header__brand:hover {
    transform: scale(1.1,1);
}
  
.header__brand > span {
    color: #ff3b30;
  }


.header__menu {
    font-family: "PT Sans", Arial, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

.header__menu :hover{
    color: red;

}

.header__menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.header__menu a.active {
  color: red;
}

.header__menu .icon {
  display: none;
}

@media screen and (max-width: 790px) {
  .header__menu a:not(:first-child) {display: none;}
  .header__menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 790px) {
  .header__menu.responsive {position: relative;}
  .header__menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header__menu ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
}

.header__menu ul li {
    margin: 0 20px;
    list-style-type: none;
}

.header__menu ul li:hover {
    text-decoration: underline red;
}

.header__menu ul ul{
    position: absolute;
    display:none;
}

.header__menu ul ul li{
    display: block;
    padding-top: 20px;

}

.header__menu ul li:hover ul{
    display: block;
    background-color: white;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    size: 12px;
    
    font-family: "PT Sans", Arial, serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3;
    font-size: 15px; 
    overflow:auto;

    
}

.header__menu ul li a{
    text-decoration: none;
    font-family: "PT Sans", Arial, serif;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

.header__image img{
    width: 100px;
    height: auto;
}


.header__language {
    margin: 0px;
    padding: 0px;
}

#main {
    /*background-color: #FA9D6E;*/
    background-color:rgb(31, 196, 141);
    margin: 0px;
    padding: 0px 100px 100px 100px; 
    width: auto;
    height: 1200px;
}


#page__content .main__container {
    background-color: cadetblue;
    text-decoration: none;
    width: auto;
    height: 1000px;
    background-image: url(../images/pexels-photo-886465_2.jpeg);
    background-position: center;
    background-size: cover;
    background-blend-mode:multiply;    
    /*opacity: 70%;*/
    /*filter: brightness(70%);*/
    background-repeat: space;
    padding-top: 15px ;
}


#fh5co-home {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    background-color: #9fa3a5;
    color: #fff;
    max-width: none;
    display: flow-root;
}

#fh5co-home .main__titulo1 {
    color: white;
    text-decoration: none;
    line-height: 2.0;
    text-align: center;
    font-family: "PT Sans",sans-serif;
    font-weight: lighter;
    font-style:normal;
    font-size: 25px;
    padding-top: 200px;

}

#fh5co-home .main__titulo2 {
    color: white;
    line-height: 1.5;
    text-align: center;
    font-family: "PT Sans",sans-serif;
    font-weight: lighter;
    font-style:normal;
    font-size: 35px;
    padding: 10px;

}

#fh5co-home .main__titulo3 {
    color: white;
    line-height: 1.0;
    text-align: center;
    font-family: "PT Sans",sans-serif;
    font-weight: lighter;
    font-style:normal;
    font-size: 40px;
    padding: 0px;
    align-items: center;
    transform: scale(1.2);

}


#fh5co-home .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

/*
#fh5co-home .row {
    display:inherit;
    align-items: center;
    text-align: center;
}*/


#fh5co-home, #fh5co-home .text-wrap {
    height: 1000px;
}

#fh5co-home .text-wrap {
    display: table;
    width: 100%;
    position: relative;
    z-index: 4;
}

#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

#fh5co-home .text-inner h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 20px 0;
    font-weight: 700;
    text-align: center;

}

#fh5co-home .text-inner h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 60px 0;

}

.main__space {
    padding: 0px 50px 50px 50px;

}


.main__titulo {
    background-color: rgb(31, 196, 141);
    border: 10px black;
    color: lightgoldenrodyellow;
    line-height: 4.0;
    font-weight: bold;
    font-style: normal;
    font-size: 35px; 
}

.main__box-model {
    background-color: rgb(31, 196, 141);
    color: lightgoldenrodyellow;
    line-height: 2.0;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
}

#home {
    background-color: lightgray;

}


#servicios {
    background-color: white;
}

.services__titulo {
    background-color: #0962BB;
    padding: 20px;
    color:lightcoral;
    text-align: center;
    font-weight:500;
    font-style: normal;
    font-size: 20px; 

}

.services__grid{
    border-color: limegreen;
    border-width: 10px;
    background-color: lightgoldenrodyellow;
    border-style: solid;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    /*grid-template-areas: 
        "services__header1 services__header2 services__header3"
        "services__service1 animate__animated animate__flash services__service2 animate__animated animate__flash services__service3 animate__animated animate__flash";*/
    border: 3px dashed black;
    border-radius: 4px;
    justify-items: center;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;

    
    
}

.services__header1 {
    color: lightcoral;
    font-weight:bold;
    font-style: normal;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding-top: 20px
}

.services__header2 {
    color: lightcoral;
    font-weight:bold;
    font-style: normal;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding-top: 20px
}

.services__header3 {
    color: lightcoral;
    font-weight:bold;
    font-style: normal;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    padding-top: 20px
}


.services__service1 {
    color: #0962BB ;
    padding: 20px;
    text-align: justify;
    font-weight:normal;
    font-style: normal;
    font-size: 18px; 
}

.services__service2 {
    color:#0962BB ;
    padding: 20px;
    text-align: justify;
    font-weight:normal;
    font-style: normal;
    font-size: 18px; 
}

.services__service3 {
    color: #0962BB;
    padding: 20px;
    text-align: justify;
    font-weight:normal;
    font-style: normal;
    font-size: 18px; 
}

.services__space { 
    padding: 120px;
    background-color:lightgoldenrodyellow;
}

.about-us__main {
    background-color:lightyellow;
}


.about-us__titulo {
    background-color: #0962BB;
    padding: 10px;
    color:lightcoral;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 25px; 
}

#about-us__contain {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.about-us__mision{
    color: #0962BB;
    line-height: 1.8;
    margin: 20px;
    padding: 40px;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
    background-color:khaki;
    text-align: justify;    
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    order: -1;

}

.about-us__vision{
    color: #0962BB;    
    line-height: 1.8;
    margin: 20px;
    padding: 40px;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
    background-color:khaki;
    text-align: end;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    
}

.about-us__valores{
    color: #0962BB;
    line-height: 1.8;
    margin: 20px;
    padding: 40px;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
    background-color:khaki;
    text-align: justify;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;

}

.about-us__tecnologias__titulo{
    color: #0962BB;
    margin: 0px;
    padding: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 25px; 
    background-color:lavender;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.about-us__tecnologias{
    margin: 0px;
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.about-us__tecnologias img {
    width: 15%;
    height: auto;
    padding: 40px;
}


.clients__titulo {
    background-color: white;
    background-color: #0962BB;
    padding: 20px;
    color:lightcoral;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
}

#clients__contain {
    padding: 120px;
    width: auto;
    height: 1200px;
    /*background-image: url(../images/background-2462431_1920.jpg);*/
    text-align: center;
}

#clients__contain img {
    width: 20%;
    height: auto;
    padding: 40px;
}

.container__images {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; 
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.container__images img {
    width: 40%;
    height: 50%;
}

.contact__titulo {
    background-color: #0962BB;
    padding: 10px;
    color:lightcoral;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
}

.btn-group {
  margin-bottom: 1rem;
}

.contact__main {
    width: auto;
}

#contact__form {
    background-color: lightgoldenrodyellow;
    line-height: 2.0;
    padding: 30px;
    width: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px; 
    text-align: center;
    font-family: "PT Sans",sans-serif;
    padding: 50px 0px 50px 0px;
}

.contact__space { 
    padding: 90px;
    background-color:lightgoldenrodyellow;
}


#footer {
    background-color: #A8839F;
    background-image: linear-gradient(to right, #A8839F, salmon );
    height: auto;
    padding: 3em 0;
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 15px; 

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 8fr;
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;

    
}

#footer img {
    border-radius: 6px;
}

/*#footer__container {
    color: white;

    background-color: #A8839F;
    background-image: linear-gradient(to right, #A8839F, salmon );
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;    
    height: auto;
    line-height: 3.0;

    /*display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
}*/

.footer__container__info1 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: stretch;
    justify-self: center;
}

.footer__section__title {
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-weight: lighter;
    font-style:normal;
    font-size: 22px;
    font-weight: 100px;
    margin: 0 0 30px 0;
    padding-bottom: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.footer__contact_info {
    margin: 0 0 60px 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-weight: lighter;
    font-style:normal;
}

.footer__container__info2 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: flex-end;
    justify-self: center;
}

.footer__container__info3 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: stretch;
    justify-self: center;
}

.footer__form {
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    font-style:normal;
    border: none;
}


.form__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form__control {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    line-height: 1.5;
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-size: 14px;
    font-style:normal;
    border: none;
    box-sizing: border-box;
}

textarea.form__control {
    height: auto;
}

.btn__send-message {
    text-transform: uppercase;
    border: none;
    letter-spacing: 2px;
    font-family: "PT Sans",sans-serif;
    line-height: 1.2;
    font-size: 14px;
    font-style:normal;
    border-radius: 4px;
    background-color:slategray;
    color: white;
    padding: 10px 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.developer__contain {
    color: white;
    text-align: right;
    font-weight: normal;
    font-style: normal;
    font-size: 15px; 
    padding: 20px;

}

/*
.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
  }
  .fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #ff3b30;
  }
  .fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
  }
  .fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 25px;
    height: 3px;
    color: #535659;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #535659;
    transition: all .2s ease-out;
  }
  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 3px;
    background: #535659;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  
  .fh5co-nav-toggle i::before {
    top: -7px;
  }
  
  .fh5co-nav-toggle i::after {
    bottom: -7px;
  }
  
  .fh5co-nav-toggle:hover i::before {
    top: -10px;
  }
  
  .fh5co-nav-toggle:hover i::after {
    bottom: -10px;
  }
  
  .fh5co-nav-toggle.active i {
    background: transparent;
  }
  
  .fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  
  .fh5co-nav-toggle {
    position: absolute;
    top: 2px;
    right: 15px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 25px;
    border-bottom: none !important;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
      display: block;
    }
  }
  */